# Application configuration
APP_NAME="UJIKOM-2026"
APP_KEY="your-app-key"
APP_ENV="development"
APP_PORT="3000"

# Credentials Secret
JWT_EXPIRES_IN="15m"

# Database configuration
DB_TYPE="mysql"
DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD=
DB_NAME="ujikom_2026"